.container {
  margin: auto;
  display: flow-root;
  top: 0;
}

.track-data-table-container {
  display: block;
  overflow: auto;
  align-items: center;
  max-width: 100%;
}

.track-data-table-inner-container {
  overflow-y: auto;
  height: 360px;
  width: 100%;
}

.track-data-table-inner-container thead th {
  position: sticky;
  top: 0;
  z-index: 10001;
}

.track-data-table-header {
  display: block;
  color: #212121;
  font-size: 20pt;
  float: left;
}

.track-data-table-tab-panel {
  display: block;
  float: right;
}

.track-data-table-header-container {
  left: 0;
  position: sticky;
  z-index: 9999;
  margin: auto;
}

.track-data-table {
  width: 100%;
  height: 100%;
	border-collapse: collapse;
	overflow: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.track-data-th, .track-data-td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
  color: #000;
}

.track-data-album-cover {
  width: 100px;
  left: 0;
  position: sticky;
  z-index: 9999;
}

.track-data-action-icon {
	width: 10px;
  left: 0;
  position: sticky;
  z-index: 9999;
}

.track-data-td img {
  max-height: 100px;
}

.track-data-th {
	text-align: center;
	background-color: #FCC201;
  color: #fff !important;
}

.track-data-tr {
  text-align: center;
  margin: auto;
}

.track-data-tr:hover {
  background-color: rgb(225,225,225);
}

.track-data-td {
  position: relative;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

.top-listens-add-track, .goldify-playlist-remove-button {
  cursor: pointer;
}

.goldify-playlist-cancel-button {
  margin: 1% !important;
}

.goldify-playlist-save-button {
  margin: 1% !important;
}

.goldify-update-buttons {
  top: 0;
  position: sticky;
  z-index: 10002;
  display: block;
  height: 36px;
  margin: auto;
  text-align: left;
}

.move-row-icon {
  position: relative;
  top: 1px;
  display: block;
  width: 18px;
  height: 11px;
  opacity: .25;
  margin: auto;
  cursor: row-resize;
  background: -webkit-linear-gradient(
    top,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000
  );
  background: linear-gradient(
    180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000
  );
}

@media only screen and (min-width: 600px) {
  .track-data-table-container {
    display: inline-block;
    width: 48%;
    margin: 1%;
    float: none !important;
  }

  .track-data-table-inner-container {
    height: 630px;
  }

  .goldify-update-buttons {
    top: auto;
    z-index: auto;
    position: unset;
  }
}