.container {
  margin: auto;
  top: 0;
}

.track-data-table-container {
  overflow-x: auto;
  margin: auto;
}

.top-listens-table-container {
  margin-top: 30px;
}

.track-data-table-header {
  display: block;
  color: black;
  font-size: 20pt;
  float: left;
}

.track-data-table-tab-panel {
  display: block;
  float: right;
}

.track-data-table-header-container {
  left: 0;
  position: sticky;
  z-index: 9999;
  margin: auto;
}

.track-data-table {
  width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.track-data-th, .track-data-td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
  color: #000;
}

.track-data-album-cover {
  width: 100px;
  left: 0;
  position: sticky;
  z-index: 9999;
}

.track-data-action-icon {
	width: 10px;
  left: 0;
  position: sticky;
  z-index: 9999;
}

.track-data-td img {
  max-height: 100px;
}

.track-data-th {
	text-align: center;
	background-color: #FCC201;
  color: #fff !important;
}

.track-data-tr:hover {
  background-color: rgb(225,225,225);
}

.track-data-td {
  position: relative;
}

.top-listens-add-track, .goldify-playlist-remove-button {
  cursor: pointer;
}

.goldify-playlist-cancel-button {
  margin: 1% !important;
}

.goldify-playlist-save-button {
  margin: 1% !important;
}

.goldify-update-buttons {
  top: 0;
  position: sticky;
  z-index: 10000;
  display: block;
  height: 36px;
  margin: auto;
}