.card {
  cursor: pointer;
  display: flex;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  background-color: #191414;
  border: 4px solid #1DB954;
}

.user-image {
  margin-left: 10px;
  width: 100px;
  height: 100%;
  vertical-align: bottom;
  display: inline-block;
  text-align: left;
  left: 0;
}

.user-image-avatar {
  width: 100% !important;
  margin: 5% 0 !important;
  height: 100% !important;
}

.user-image img {
  height: 100px;
  width: 100px;
  border-radius: 20px 0 0 20px;
  float: left;
}

.user-names {
  width: calc(70% - 50px);
  margin: auto;
  margin-left: 10px;
  font-weight: bold;
  display: inline-block;
  color: #1DB954;
  text-align: left;
}

.user-names h1 {
  margin: auto;
}

.user-view-profile {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.view-profile {
  color: white;
  cursor: pointer;
  width: 50%;
}

.spotify-logo {
  width: calc(70% - 50px);
  margin: auto;
  margin-right: 10px;
  vertical-align: middle;
  text-align: right;
}

.spotify-logo img {
  height: 70px;
}

@media only screen and (min-width: 600px) {
  .card {
    margin-bottom: 1%;
    text-align: left;
    width: fit-content;
  }
}