name: Goldify CI

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: "15"
      - run: yarn install
      - run: yarn lint
      - run: yarn test
        env:
          REACT_APP_SPOTIFY_CLIENT_ID: "TEST_REACT_APP_SPOTIFY_CLIENT_ID"
          REACT_APP_SPOTIFY_CLIENT_SECRET: "TEST_REACT_APP_SPOTIFY_CLIENT_SECRET"
          REACT_APP_SPOTIFY_REDIRECT_URI: "http://localhost:3000/goldify"
